@import '../../../node_modules/react-toastify/scss/main.scss';

$dark-color: #343434;
$blue-color: #4182ff;
$orange-color: #e68b4c;
$white-color: #ffffff;
$gray-color: #a0a0a0;

.page-container {
  height: 100vh;
  .page-body {
    .landing {
      background-image: url('../images/bts_bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      .overlay {
        height: 100vh;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.664);
      }
      a{
        text-decoration: none;
        color: inherit;
      }
    }
    .landing-txt {
      padding-top: 200px;
      padding-left: 70px;
      width: 480px;
      @media screen and (max-width: 600px) {
        width: 80%;
        padding-top: 100px;
        padding-left: 25px;
      }
      .txt-header {
        font-size: 40px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        @media screen and (max-width: 600px) {
          font-size: 24px;
        }
      }
      .txt-detail {
        font-size: 20px;
        font-family: Ap;
        color: white;
        font-weight: lighter;
        @media screen and (max-width: 600px) {
          font-size: 15px;
        }
      }
    }
    .project-img {
      width: 100%;
      height: 230px;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  .card-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px;
  }
  .square-card {
    width: 300px;
    height: 300px;
    background-color: $white-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    @media screen and (max-width: 600px) {
      height: 100%;
    }
  }
  .txt-lg {
    color: $orange-color;
    font-size: 40px;
    font-weight: bolder;
    margin: 0 !important;
    padding-top: 20px;
  }
  .headings {
    margin: 40px 0 0 0 !important;
    font-weight: bolder !important;
  }
  .sm-icon {
    width: 20px;
    height: 20px;
  }
  .md-icon {
    width: 50px;
    height: 50px;
  }
  .lg-icon {
    width: 80px;
    height: 80px;
  }
  .icon-section {
    text-align: center;
    padding: 20px 20px 0 20px;
  }
  .main-header {
    width: 90%;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    @media screen and (max-width: 600px) {
      font-size: 20px;
    }
  }
  .upper-txt {
    text-transform: uppercase;
  }
  .section-bolder{
    border: 1px solid rgba(0, 0, 0, 0.26);
    padding: 10px;
    margin: 15px auto;
    border-radius: 5px;
  }
  .details-sections {
    padding: 10px;
    text-align: center;
  }
  .rectangular-card {
    width: 300px;
    height: 500px;
    background-color: $white-color;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    .project-user-action {
      .project-opt {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .label-txt {
          padding: 8px 22px 8px 0;
          color: rgb(90, 90, 90);
          display: flex;
          align-items: center;
          img {
            padding: 5px;
          }
        }
      }
    }
    .project-details {
      padding: 20px 13px;
      text-align: left;
    }
  }
  .header-txt {
    padding-top: 10px;
  }
  .pictorial-card {
    width: 300px;
    height: 200px;
    background-color: burlywood;
    border-radius: 5px 5px 0 0;
  }

  .circle-img {
    border-radius: 100px;
    height: 80px;
    width: 80px;
  }
  .center-txt {
    text-align: center;
    h2 {
      font-weight: bolder;
    }
  }
  .full-card {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    @media screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
    .testimony {
      width: 45%;
      height: 190px;
      margin: 10px;
      display: flex;
      @media screen and (max-width: 600px) {
        flex-direction: column;
        width: 100%;
        height: 100%;
      }
      .testimony-img {
        padding: 20px;
        @media screen and (max-width: 600px) {
          text-align: center;
        }
      }
      .testimony-details {
        padding: 20px;
        font-size: 14px;
        @media screen and (max-width: 600px) {
          text-align: center;
          padding: 2px;
        }
        p {
          margin: 0;
        }
        .testimony-owner {
          font-size: 13px;
          color: $gray-color;
          text-align: right;
          padding-top: 10px;
          width: 100%;
        }
      }
    }
    @media screen and (max-width: 600px) {
      .testimony::after {
        content: '';
        background-color: rgb(218, 218, 218);
        width: 100%;
        height: 1px;
      }
    }
  }
  .sub-header {
    color: $orange-color;
  }
  .mobile-nav {
    background-color: $dark-color;
    .nav-logo {
      padding-top: 15px;
      color: $orange-color;
      font-weight: bolder;
      text-align: center;
      a {
        color: $orange-color;
        font-weight: bolder;
        text-align: center;
        text-decoration: none;
        
      }
    }
    .nav-menu {
      ul {
        list-style-type: none;
        padding: 10px;
        margin: 0px;
        text-align: left;
      }

      li {
        padding: 10px 0px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .header-section {
    background-color: $dark-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media screen and (max-width: 600px) {
      justify-content: flex-start;
      height: 50px;
    }
    .nav-logo {
      padding-top: 15px;
      color: $orange-color;
      font-weight: bolder;
            a {
        color: $orange-color;
        font-weight: bolder;
         text-decoration: none;
      }
      @media screen and (max-width: 600px) {
        padding-top: 1px;
        margin: auto;
        font-size: 25px;
      }
    }
    .nav-drawer-icon {
      display: none;
      color: $orange-color;
      font-weight: bolder;
      text-align: left;
      font-size: 28px;
      margin-left: 10px;
      padding-top: 5px;
      @media screen and (max-width: 600px) {
        display: block;
      }
    }
    .nav-menu {
      @media screen and (max-width: 600px) {
        display: none;
      }
      ul {
        list-style-type: none;
      }

      li {
        display: inline;
        padding: 0 30px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  .footer-section {
    text-align: center;
    height: 330px;
    background-color: $dark-color;
    color: rgb(124, 124, 124);
    @media screen and (max-width: 600px) {
      height: 40px;
    }
    label {
      font-size: 13px;
    }
    .copy-section {
      @media screen and (max-width: 600px) {
        display: inline-block;
        margin-top: 10px;
      }
    }
    .info-section {
      display: flex;
      justify-content: space-around;
      font-family: Ap;
      margin-top: 40px;
      @media screen and (max-width: 600px) {
        display: none;
      }
      .footer-sub-section {
        width: 300px;
        text-align: left;
        h2 {
          color: white;
        }
        .sub-details {
          color: $gray-color;
          text-align: left;
          ul {
            li {
              padding: 10px;
              list-style: none;
              a {
                color: inherit;
              }
            }
          }
        }
      }
    }
  }
}
.modal-styled-body {
  height: 50px;
  width: 100%;
  background-color: $dark-color;
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    margin-top: 15px;
    color: $orange-color;
  }
}
.important-txt {
  color: $orange-color !important;
  a {
    color: $orange-color !important;
  }
}
